body {
    background: red;
    height: 100%;
    margin:0;
}

.canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.loadingScreen, .loadingScreen-hidden {
    background: linear-gradient(45deg, #132244 0%, #111100 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 998;

    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}
.loadingScreen-hidden {
    opacity: 0;
}

.progressBar {
    pointer-events: none;
    cursor: default;

    box-sizing: border-box;
    border-style: solid;
    border-radius: 37px;

    background: rgba(255, 100, 100, 0.5);
    position: absolute;
    width: 30%;
    height: 10%;
    top: 45%;
    left: 35%;
}

.disposeInfo, .disposeInfoHidden, .disposeInfoMobile, .disposeInfoHiddenMobile, .interactInfo {
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.7);

    box-sizing: border-box;
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.disposeInfo, .disposeInfoHidden, .disposeInfoMobile, .disposeInfoHiddenMobile {
    top: 30%;
    width: 30%;
    height: 50px;
    left: 40%;

    transition: top 1.0s ease-in-out, background-color 1.0s ease-in-out;
    -webkit-transition: top 1.0s ease-in-out, background-color 1.0s ease-in-out;
    -moz-transition: top 1.0s ease-in-out, background-color 1.0s ease-in-out;
    -o-transition: top 1.0s ease-in-out, background-color 1.0s ease-in-out;
}

.disposeInfoMobile, .disposeInfoHiddenMobile {
    top: 20%;
    width: 50%;
    line-height: 25px;
}
.disposeInfoHidden, .disposeInfoHiddenMobile {
    top: -10%;
    background-color: rgba(255, 255, 255, 0.0);
}

.interactInfo {
    bottom: 10%;
    width: 20%;
    height: 50px;
    left: 40%;
    z-index: 10;
}

.menuRoot {
    position: absolute;
    display: none;
    background-color: rgba(150, 150, 150, 0.8);
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
}

.menuText {
    height: 75%;
    width: 100%;
    font-size: 8vh;
    font-weight: bold;
    text-align: center;
}

.buttonsRoot, .pauseMobile {
    position: absolute;

    font-size: 4vh;
    font-weight: bold;

    -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                not supported by any browser */
}

.pauseMobile {
    left: 0;
    top: 10%;
    width: 20%;
    height: 10%;
    display: none;
}

.buttonsRoot {
    bottom: 0;
    width: 100%;
    height: 25%;

    background: #884444;
    display: table;
}

.controlsInfo {
    bottom: 0;
    width: 25%;
    height: 15%;
    background: rgba(255,255,255,0.4);
    display: block;
    position: absolute;
}

.startAgainButton, .goToSourceButton, .pauseMobileButton, .controlPanelButton {
    width: 49%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    background: #eeeeee;
    display: table-cell;
    vertical-align: middle;
    line-height: 100%;
}
.pauseMobileButton {
    height: 100%;
}
.controlPanelButton {
    display: block;
    height: 25%;
    width: 70%;
    margin-left: 15%;
    margin-top: 3vh;

    box-sizing: border-box;
    border-radius: 12px;
    font-size: 4vh;
    font-weight: bold;
}

.startAgainButton:hover, .goToSourceButton:hover, .controlPanelButton:hover{
    background: #aa8888;
}
.dummy {
    width: 2%;
    height: 100%;
    background: red;
}
