body {
    background: red;
    margin:0;
}

.canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.loadingScreen {
    background: linear-gradient(45deg, #132244 0%, #111100 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 998;
}

.progressBar {
    pointer-events: none;
    cursor: default;

    box-sizing: border-box;
    border-style: solid;
    border-radius: 37px;

    background: rgba(255, 100, 100, 0.5);
    position: absolute;
    width: 30%;
    height: 10%;
    top: 45%;
    left: 35%;
}

.disposeInfo, .disposeInfoHidden {
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    top: 200px;
    width: 20%;
    height: 50px;
    left: 40%;
    transition: top 1.0s ease-in-out, background-color 1.0s ease-in-out;
    -webkit-transition: top 1.0s ease-in-out, background-color 1.0s ease-in-out;
    -moz-transition: top 1.0s ease-in-out, background-color 1.0s ease-in-out;
    -o-transition: top 1.0s ease-in-out, background-color 1.0s ease-in-out;
}
.disposeInfoHidden {
    top: -50px;
    background-color: rgba(255, 255, 255, 0.0);
}

.interactInfo {
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 20px;
    width: 20%;
    height: 50px;
    left: 40%;
}

.menuRoot {
    position: absolute;
    display: none;
    background-color: rgba(150, 150, 150, 0.8);
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
}

.menuText {
    height: 75%;
    width: 100%;
    font-size: 8vh;
    font-weight: bold;
    text-align: center;
}

.buttonsRoot {
    bottom: 0;
    width: 100%;
    height: 25%;

    background: #884444;
    display: table;
}

.controlsInfo {
    bottom: 0;
    width: 25%;
    height: 15%;
    background: rgba(255,255,255,0.4);
    display: block;
    position: absolute;
}

.startAgainButton, .goToSourceButton {
    width: 49%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    background: #eeeeee;
    display: table-cell;
    vertical-align: middle;
    line-height: 100%;
}

.startAgainButton:hover, .goToSourceButton:hover{
    background: #aa8888;
}
.dummy {
    width: 2%;
    height: 100%;
    background: red;
}
